<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/form.css">
</head>
<body>

<h3>User Form</h3>

<div>
  <form action="/saveData" method="post">
    <label for="email">Email</label>
    <br>
    <input type="text" id="email" name="email" placeholder="Your Email..">
    <br>
    <label for="username">Username</label>
    <br>
    <input type="text" id="username" name="username" placeholder="Your name..">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password" placeholder="">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>


